BOT_TOKEN=
ADMIN_TELEGRAM_ID=
TELEGRAM_USER_ID=
TABLE_ID=
CREDENTIALS_PATH=credentials.json
DATABASE_PATH=data/db/bot.db
WELCOME_IMAGE_PATH=data/images/image.png
# If api.telegram.org is blocked, set a working proxy:
# PROXY_URL=socks5://host.docker.internal:1080
# PROXY_URL=http://user:pass@host.docker.internal:8080
PROXY_URL=
